<ion-header no-border>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">
  <ion-slides>
    <ion-slide *ngFor="let slide of slides">
      <img style="width: 70%" [src]="slide.image" class="" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p *ngIf="slide.subtitle != false"><b>{{slide.subtitle}}</b></p>
      <p [innerHTML]="slide.description"></p>
      <div *ngIf="slide.subtitle != false">
        <p>________________________________</p>
        <h5>Cronograma</h5>
        <p *ngFor="let eventsDesc of slide.events">{{eventsDesc.event}}</p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>